* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'shanti';
  background-color: rgba(54, 54, 54, 0.699);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #7aa8ff00;
  color: white;
  box-shadow: 0 5px 2px #38383809;
  backdrop-filter: blur(1000px);
  z-index: 100000;
  -webkit-backdrop-filter: blur(1000px);
  position: fixed;
  width: 100%;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Nav */
.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

/* Button */
.join-btn {
  padding: 8px 15px;
  border: none;
  background: #7c3aed;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 3px;
  background: white;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0px;
    left: -100%;
    flex-direction: column;
    background: #853a3a;
    z-index: 100000000;
    width: 70%;
    height: 100vh;
    text-align: start;
    padding: 1em;
    transition: 0.3s;
  }
  .nav-links li a {
     color: black;
  }
  .nav-links.active {
    left: 0;
  }

  .hamburger {
    display: block;
  }
}
.section {
  position: relative;
  z-index: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  color: white;
  background: linear-gradient(#ff9aef, #7aa8ff);
}
.heading-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .heading-section{
    padding: 2em;
  }
}
@media (max-width: 480px){
  .logo {
    font-size: 25px;
  }
  .join-btn {
    padding: 5px 14px;
  }
  .heading-section {
    font-size: 17px;
  }
}
.about-section {
  position: absolute;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.para-and-img {
  display: flex;
}
.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
}
.about-section-heading {
  display: flex;
  justify-content: center;
  padding: 15px;

}
.about-image-container {
  width: 400px;
  flex-grow: 3;
  flex-shrink: 1;
  height: 400px;
  background-color: #ff9aef;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1022px) {
  .para-and-img {
    display: block;
  }
}