* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'shanti';
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #7aa8ff;
  color: white;
  box-shadow: 0 5px 15px grey;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Nav */
.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

/* Button */
.join-btn {
  padding: 8px 15px;
  border: none;
  background: linear-gradient(#ff9aef, #7c3aed);
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 3px;
  background: white;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 0px;
    left: -100%;
    flex-direction: column;
    background: white;
   
    width: 70%;
    height: 100vh;
    text-align: start;
    padding: 1em;
    transition: 0.3s;
  }
  .nav-links li a {
     color: black;
  }
  .nav-links.active {
    left: 0;
  }

  .hamburger {
    display: block;
  }
}
.section {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  color: white;
  background: linear-gradient(#ff9aef, #7aa8ff);
}
@media (max-width: 480px){
  .logo {
    font-size: 1em;
  }
  .join-btn {
    padding: 5px 14px;
  }
}